<!DOCTYPE html>
<html lang="en">
<head>
    <!-- code omitted -->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <!-- code omitted -->
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <!-- code omitted -->
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- code omitted -->
</body>
</html>