// VARS
$primary-color: #ff611d;
$secondary-color: lighten($primary-color, 10%);
$background-color-site: #ffff9a;

$logo-primary-color: #17cc1a;
$button-primary-color: #e32929;
$title-primary-color: #e32929;
$title-secondary-color: #ffb80e;
$text-color: #efefef;
